.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    transition: opacity 0.3s;
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #6c63ff;
  }
  
  .form input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .form button {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #574fe3;
  }
  